<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>Logo design by <a href="mailto:tanupadath@gmail.com">Tanushree Padath</a> & <a href="mailto:noelleceane@gmail.com ">Noelle Szombathy</a>, lettering & web design by <a href="https://kmbrlygl.github.io/" target="_blanket">Kimberly Losenara</a></p>
       <p>© 2018 Sac Desco (Design Collective)</p>
      </div>

<!--      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>


      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
          -->
    </div>

  </div>

</footer>
