<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="sidebar">
        <img src="/assets/images/DESCO-Logo.png" alt="Sac DESCO logo">
        <a href="https://www.facebook.com/groups/sacdesco/"><img src="/assets/images/join-us.PNG" alt="Join Us on Facebook!"></a>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
